<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <title>Global safaris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <script src="js/holder.js"></script>
    
</head>
<body>

        <div id="raw-nav">
            <ul>
                <span class="pull-left">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">How it works</a></li>
                </span>
                <span class="pull-right">
                    <li><a href="#">Create your offer</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a class="btn btn-default" href="#"><i class="fa fa-life-ring"></i> Support</a></li> 
                </span>
                
            </ul>
        </div>
        
        <!-- Navigation - START -->
        <nav class="navbar navbar-default navbar-fixed-top" scroll ng-init="showNavbar = false" ng-show="showNavbar" ng-controller="NavController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click = "isCollapsed = !isCollapsed">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse" collapse="isCollapsed">
                    <!--<ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home Page</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Social</a></li>
                    </ul>-->
                    <script type="text/ng-template" id="myModalContent.html">
                        <!--<div class="modal-header">
                            <h3 class="">Please sign in</h3>
                        </div>-->
                        <div class="row pull-right ">
                                
                        </div>
                        <div class="modal-body text-center row">
                        
                            <div class="col-md-4">
                                <form role="form" class="form-horizontal" id="loginform">
                                    <h2>Login</h2><hr>
                                    <input id="username" type="text" placeholder="username" class="form-control"><br>
                                    <input id="password" type="password" placeholder="password" class="form-control"><br>
                                    <div class="row">
                                        <button class="btn btn-primary col-xs-12" ng-click="ok()">Sign in</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-8">
                                <form role="form" class="form-horizontal" id="regform">
                                    <h2>Register</h2><hr>
                                    <input id="username" type="text" placeholder="Your name" class="form-control"><br>
                                    <input id="password" type="email" placeholder="Your email" class="form-control"><br>
                                    <input id="password" type="password" placeholder="password" class="form-control"><br>
                                    <input id="password" type="password" placeholder="password again" class="form-control"><br>
                                    <div class="row">
                                        <button class="btn btn-primary col-xs-12" ng-click="ok()">Register</button>
                                    </div>
                                </form>
                            </div>
                            
                            
                            
                        </div>
                        <!--<div class="modal-footer">
                            <button class="btn btn-danger col-xs-12" ng-click="cancel()">Cancel</button>
                        </div>-->
                    </script>

                    <button type="button" class="btn btn-default navbar-btn navbar-right" ng-click="signinModal('lg')">Login / Register</button>
                    
                    <form class="navbar-form " role="search">
                        
                        <div class="form-group navbar-left">
                            <input type="text" class="form-control" placeholder="Search..." size="40">
                        </div>

                        <div class="form-group form-group-sm navbar-right" id="currency">    
                            Currency:                    
                            <select class="form-control" >
                                <option value="KES">KES</option>
                                <option value="EURO">EURO</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                        
                    </form>
                    
                    <!--<alert type="danger">Woah there!</alert>-->
                </div>

            </div>
            
        </nav>
        <!-- Navigation - END -->

        
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <!--<div class="jumbotron">
          <div class="">
          <img data-src="holder.js/100%x180/sky" alt="Blahahah" />
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
          </div>
        </div>-->



    <div class="container-fluid">

        <!--<div class="page-header">
            <h1>Navigation <small>Bootstrap template, demonstrating navigation with centered content</small></h1>
        </div>-->

        <div id="video" class="row">
            <p>
            <video loop="loop" preload="auto" width="1351px">
                <source src="http://a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
                <source src="http://a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm">
            </video>
            </p>
            <div class="text-center" id="headline">
                <h1><span class="underline">Hello world</span></h1>
                <h2><span class="line-2">
                    wonderful places, wonderful pricing
                    </span>

                </h2>

            </div>
            
        </div>

        
               

        <div class="row" ng-controller="TabMenuController">
            <tabset justified="true">
                <tab heading="All Offers"></tab>
                <tab heading="Honeymoon"></tab>
                <tab heading="Retreat"></tab>
                <tab heading="Beach"></tab>
            </tabset>
        </div>
        
        <div class="">
        
            <div class="outer" ng-controller="CardsController">
                <!--
                <div class="thumbnail">
                    
                      <img data-src="holder.js/100%x180" alt="Blahahah" />
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae augue. 
                                    Vivamus ipsum eros, sodales sed enim ac, malesuada iaculis mi. 
                                    Morbi ut orci sit amet tellus posuere convallis. 
                                    Cras rhoncus tincidunt ultrices.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                      </div>
                    
                </div>
                
                -->
                <script type="text/ng-template" id="cardModals.html">
                    <carousel>
                        <slide>
                            <img height="800" width="800" ng-src="http://www.unsplash.it/800/500/?random" alt="Blahahah" />
                            <div class="slide-text">
                            <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                            <p> $100 </p>
                            </div>
                        </slide>
                        <slide>
                            <img height="800" width="800" ng-src="http://www.unsplash.it/800/500/?random" alt="Blahahah" />
                            <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                            <p> $200 </p>
                        </slide>
                        <slide>
                            <img height="800" width="800" ng-src="http://www.unsplash.it/800/500/?random" alt="Blahahah" />
                            <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                            <p> $300 </p>
                        </slide>
                        <slide>
                            <img height="800" width="800" ng-src="http://www.unsplash.it/800/500/?random" alt="Blahahah" />
                            <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                            <p> $400 </p>
                        </slide>
                        <slide>
                            <img height="800" width="800" ng-src="http://www.unsplash.it/800/500/?random" alt="Blahahah" />
                            <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                            <p> $400 </p>
                        </slide>
                    </carousel>
                </script>

                <button class="card thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/100%x180/sky" alt="Blahahah" />
                                <div class="card-content">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>

                <button class="card thick thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/100%x100/lava" alt="Blahahah" />
                                <div class="card-content text-left">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>

                <button class="card thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/110%x180/sky" alt="Blahahah" />
                                <div class="card-content text-left">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>
                <button class="card thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/100%x280/vine" alt="Blahahah" />
                                <div class="card-content text-left">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>
                <button class="card thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/100%x380/vine" alt="Blahahah" />
                                <div class="card-content text-left">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>
                <button class="card thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/100%x180/sky" alt="Blahahah" />
                                <div class="card-content text-left">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>
                <button class="card thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/100%x180/vine" alt="Blahahah" />
                                <div class="card-content text-left">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>
                <button class="card thumbnail" ng-click="cardModal('lg')">
                                <img data-src="holder.js/100%x180/sky" alt="Blahahah" />
                                <div class="card-content text-left">
                                    <h3>Proin nec neque eget nulla scelerisque rhoncus sit amet vitae</h3>
                                    <p> $400 </p>
                                </div>
                                
                </button>

            </div>
        </div>

        <footer class="row">
            <div class="col-md-4">
                <h3>Who we are</h3>
                <ul>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>What we like</h3>
                <ul>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h3>Why we like</h3>
                <ul>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
                </ul>
            </div>
            
        </footer>
    </div>

    <!--
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    -->
    
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    
    <script type="text/javascript">
        var container = document.querySelector('.outer');
        var msnry = new Masonry(container, {
            columnWidth: '.card',
            itemSelector: '.card'
            
        });
        imagesLoaded(container, function(){
            msnry.layout();
        });
        
    </script>
</body>
</html>